.app {
  background-color: #f3f2ef;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
}

.app_body {
  display: flex;
}

@media screen and (max-width: 800px) {
  .app_body{
    display: flex;
    flex-direction: column;
  }
}