*{
  margin: 0;
}

@media screen and (max-width: 750px) {
  *{
    /* background-color: #f3f2ef; */
    /* height: 100vh; */
    place-content: center;
  }
}
body {
  margin: 0;
  /* height: 100vh; */
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}



code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* @media only screen and (max-widhth: 600px) {
  .app {
    width: 100%;
    visibility: hidden;
  }
} */